$rotate: 18deg;

.rotated {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    margin-bottom: 120px;

    img {
        max-width: 100%;
    }

    & li {
        position: relative;
    }

    & li:first-child {
        top: 65px;
        transform: rotate(-$rotate);
    }

    & li:last-child {
        top: 65px;
        transform: rotate($rotate);
    }
}
