.apodItem {
    position: relative;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;

    img {
        max-width: 520px;
        grid-row: 1/4;
    }

    .title {
        font-size: 26px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 26px;
        font-weight: bold;
    }

    .copyright {
        margin-top: 15px;
        font-size: 22px;
        font-style: italic;
    }

    .explanation {
        font-weight: 16;
        margin-top: 36px;
    }
}
